extends layout/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        form.product-form(action="/admin/add-product", method="POST")
            .form-control
                label(for="title") Title
                input(type="text" name="title")#title
                label(for="price") Price
                input(type="number" name="price")#price
                label(for="description") Description
                textarea(name="description", cols="37.5", rows="4")#description
                input(type="text" name="Image_URL" placeholder="Add your image URL here")#Image_URL
                
            button.btn(type="submit") Add Product
